body {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

main {
    margin: 0 135px 120px 135px;
}

img {
    object-fit: cover;
}

.hr-style {
    color: #F2F2F2;
    width: 100%;
    height: 2px;
    background-color: #F2F2F2;
    margin: 30px 0 30px 0
}

.mt-90 {
    margin-top: 90px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-65 {
    margin-top: 65px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-35 {
    margin-top: 35px
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-120 {
    margin-bottom: 120px;
}

.about-p {
    font-weight: 300;
    font-family: 'Roboto';
    line-height: 25px;
    font-size: 16px;
    margin: 0;
    height: 120px;
    width: 400px;
    display: block;
}


/*nav*/
nav {
    height: 102px;
    position: relative;
}

.nav-icon {
    width: 70px;
    height: 43.71px;
    top: 29.14px;
    left: 135px;
    margin: 0px;
    position: absolute;
}

.nav-a {
    display: block;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2.4px;
    font-family: 'Roboto';
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}

.nav-link-ul {
    display: flex;
    height: 20px;
    flex-direction: row;
    gap: 60px;
    position: absolute;
    top: 39.83px;
    left: 535px;
}

.nav-link-li {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    list-style-type: none;
}

.nav-cur-page {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/**/

/*footer*/
footer {
    height: 417px;
    background-color: #2C2C2C;
    border-top: 1px solid transparent;
}

footer hr {
    color: #FFFFFF;
    opacity: 20%;
}

.footer-rights-div {
    margin-top: 24px;
    margin-left: 591px;
}

.footer-rights-div small {
    color: #FFFFFF;
    opacity: 20%;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0;
    font-family: 'Open Sans';

}

.footer-content {
    flex-direction: row;
    margin-top: 58px;
    margin-left: 116px;
    height: 289px;
}

.footer-icon {
    height: 94px;
    width: 145px;
}

.footer-div-inf {
    margin-left: 99px;
}

.footer-div-contacts {
    margin-left: 157px;
}

.footer-div-contacts ul li {
    margin-bottom: 32px;
}

.footer-div-social {
    margin-left: 99px;
}

.footer-div-social ul {
    gap: 40px;
    list-style-type: none;
}

.footer-li {
    list-style-type: none;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.27px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    height: 24px;

}

.footer-li li {
    margin-bottom: 16px;
}

.footer-h5 {
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.footer-li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.27px;
    display: block;
    height: 24px;
}

.footer-li-img {
    height: 16px;
    width: 16px;
    object-fit: contain;
    margin-right: 14px;
}

.footer-img1 {
    height: 16px;
    width: 11px;
    margin-right: 19px;
}

.footer-img2 {
    height: 16px;
    width: 16px;
    margin-right: 14px;
}

.footer-img3 {
    height: 11px;
    width: 16px;
    margin-right: 14px;
    margin-top: 5px;
}

/**/
.headerr {
    display: block;
    font-weight: 300;
    font-family: 'Roboto';
    line-height: 64px;
    font-size: 64px;
    letter-spacing: 0;
    color: #BDBDBD;
    margin: 0;
    padding: 0;
}

.header-b {
    color: #333333;
    display: block;
    font-weight: 700;
    height: 64px;
    font-family: 'Roboto';
    line-height: 64px;
    font-size: 64px;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.butn {
    width: 222px;
    height: 71px;
    display: flex;
    border: none;
    align-items: center;
    padding: 0;
}

.butn-text {
    font-family: "Gothic A1";
    font-weight: 400;
    line-height: 12px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: #FFFFFF;
    display: block;
}

.btn-arrow {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    object-fit: cover;
}

.car-num {
    font-weight: 400px;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 24px;
    color: #BDBDBD;
}

.car_control-div {
    flex-direction: row;
    gap: 29px;
    margin-top: 71px;
}

.counter-div {
    width: 141.9px;
    height: 52px;
    gap: 30px;
}

.counter-div img {
    width: 30px;
    height: 30px;
}

.car-button-div {
    height: 53px;
    gap: 23px;
}

.car-button-div hr {
    color: #F2F2F2;
    width: 271px;
    height: 2px;
    background-color: #F2F2F2;
}

.car-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #FFFFFF;
    border-color: #F2F2F2;
    border-radius: 1px;
    border-style: solid;
}

.pr-about-p {
    font-weight: 300;
    font-family: 'Roboto';
    line-height: 25px;
    font-size: 16px;
    margin: 0;
    height: 120px;
    width: 400px;
    display: block;
}



@media (max-width: 600px) {
    body {
        width: auto;
        margin: 0;
        padding: 0;

    }

    main {
        margin: 0 10vw 3vh 10vw;
    }

    img {
        object-fit: cover;
    }

    .headerr,
    .header-b {
        margin-left: 2vw;
        font-size: 5vh;
        line-height: 6vh;
        height: auto;
    }

    .mt-90 {
        margin-top: 10vh;
    }

    .mt-45,
    .mt-65,
    .mt-70 {
        margin-top: 5vh;
    }

    .mt-35 {
        margin-top: 3vh;
    }

    .mb-20 {
        margin-bottom: 3vh;
    }

    .mb-120 {
        margin-bottom: 5vh;
    }

    .about-p {
        font-weight: 300;
        font-family: 'Roboto';
        line-height: 3vh;
        font-size: 2vh;
        padding: 0 2vw 0 2vw;
        height: auto;
        width: 100%;
        display: block;
        margin: 0;
    }

    .pr-about-p {
        font-weight: 300;
        font-family: 'Roboto';
        line-height: 2.5vh;
        font-size: 2vh;
        margin: 0;
        height: auto;
        width: auto;
        display: block;
    }

    nav {
        height: auto;
        position: static;
        display: flex;
        flex-direction: column;
        margin: 0;

    }

    .nav-icon {
        height: auto;
        width: 18vw;
        margin: 3vh 0 3vh 5vw;
        position: static;
    }

    .nav-icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #menubtn {
        margin-left: 3vh;
        height: 2vh;
        width: auto;
    }

    .nav-a {
        display: block;
        line-height: 1.6vh;
        font-size: 1.4vh;
        letter-spacing: 0.7vw;
        font-family: 'Roboto';
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.7vh;
    }

    .nav-link-ul {
        height: auto;
        flex-direction: column;
        align-items: start;
        gap: 1vh;
        position: static;
        margin: 0 3vh !important;
    }

    .nav-link-li {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        list-style-type: none;
    }

    .nav-cur-page {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    /**/
    /*footer*/
    footer {
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: #2C2C2C;
        border-top: 1px solid transparent;
        align-items: center;

    }

    footer hr {
        color: #FFFFFF;
        opacity: 20%;
    }

    .footer-rights-div {
        margin-top: 0px;
        margin-left: 0px;
        align-items: center;
        justify-content: center;
    }

    .footer-rights-div small {
        color: #FFFFFF;
        opacity: 20%;
        font-weight: 400;
        font-size: 1.5vh;
        line-height: 2vh;
        letter-spacing: 0;
        font-family: 'Open Sans';

    }

    .footer-content {
        flex-direction: column;
        gap: 4vh;
        margin-top: 0px;
        margin-left: 0px;
        height: auto;
    }

    .footer-icon {
        margin-top: 5vh;
        height: auto;
        width: 20vw;

    }

    .footer-icon img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .footer-div-inf {
        margin-left: 0;
        height: auto;
    }

    .footer-div-contacts {
        margin-left: 0;
        height: auto;
    }

    .footer-div-contacts ul li {
        margin-bottom: 2vh;
    }

    .footer-div-social {
        margin-left: 0;
        height: auto;
    }

    .footer-div-social ul {
        gap: 5vw;
        list-style-type: none;
    }

    .footer-div-social ul img {
        height: 2.3vh;
        width: auto;
    }

    .footer-li,
    .footer-li a {
        list-style-type: none;
        font-weight: 400;
        line-height: 2.5vh;
        font-size: 2vh;
        letter-spacing: 0;
        color: #FFFFFF;
        display: block;
        text-decoration: none;
        height: auto !important;

    }

    .footer-li li {
        margin-bottom: 2vh;
    }

    .footer-h5 {
        font-weight: 500;
        line-height: 2.5vh;
        font-size: 2vh;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-bottom: 2vh;
    }

    .footer-li-img {
        height: 2vh;
        width: auto;
        object-fit: contain;
        margin-right: 5vw;
    }

    .footer-img1 {
        height: 2vh;
        width: 1.375vh;
        margin-right: 2.375vh;
    }

    .footer-img2 {
        height: 2vh;
        width: 2vh;
        margin-right: 1.75vh;
    }

    .footer-img3 {
        height: 1.375vh;
        width: 2vh;
        margin-right: 1.75vh;
        margin-top: 0.625vh;
    }

    .car_control-div {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2vh;
        margin-top: 0;
        padding: 3vh 3vh 3vh 3vh;
    }

    .car-button-div {
        height: auto;
        gap: 6vw;
    }

    .car-button-div hr {
        display: none;
    }

    .car-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6vh;
        height: 6vh;
        background-color: #FFFFFF;
        border-color: #F2F2F2;
        border-radius: 1vh;
        border-style: solid;
    }

    .car-btn img {
        width: 90%;
        height: 50%;
    }

    .counter-div {
        width: auto;
        height: auto;
        gap: 5vw;
    }

    .counter-div img {
        width: 6vw;
        height: 4vh;
    }

    .car-num {
        font-weight: 400;
        font-family: 'Roboto';
        font-size: 3vh;
        line-height: 4vh;
        color: #BDBDBD;
    }

    .btn-arrow {
        width: 7vw !important;
        height: 2vh !important;
        margin-left: 3vw;
        object-fit: cover;
    }

}