.projects-wrap {
    display: grid;
    row-gap: 60px;
    grid-template-columns: 670px auto;
    column-gap: 0;
    grid-template-rows: 435px 435px 435px;
    overflow: hidden;
}

.our-pr-div {
    background-color: #FBFBFB;
    padding: 30px 30px 30px 30px;
}

.our-pr-div h3 {
    font-family: "Roboto";
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: #BDBDBD;
    margin-bottom: 73px;
}


.divHeader {
    margin-top: 63px;
    margin-bottom: 61px;
}

@media (max-width: 600px) {

    .projects-wrap {
        display: grid;
        row-gap: 5vh;
        grid-template-columns: 80vw;
        column-gap: 0;
        grid-template-rows: 30vh auto 30vh auto 30vh auto;
        overflow: hidden;
    }

    .projects-wrap div img {
        height: 100%;
        width: 100%;
    }

    .our-pr-div {
        background-color: #FBFBFB;
        padding: 0;
        position: static;
    }

    .our-pr-div h3 {
        font-family: "Roboto";
        font-size: 4vh;
        line-height: 4vh;
        font-weight: 300;
        color: #BDBDBD;
        margin-bottom: 5vh;
        margin-top: 1vh;
    }


    .divHeader {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

}