@keyframes slide-m-l {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-670px);
    }
}

@keyframes slide-s-l {
    from {
        transform: translateX(670px);
    }

    to {
        transform: translateX(0);
    }

}

@keyframes slide-m-r {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(670px);
    }
}

@keyframes slide-s-r {
    from {
        transform: translateX(-670px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.side-slide-to-left {
    animation: slide-s-l;
    animation-duration: 2s;
}

.mid-slide-to-left {
    animation: slide-m-l;
    animation-duration: 2s;
}

.side-slide-to-right {
    animation: slide-s-r;
    animation-duration: 2s;
}

.mid-slide-to-right {
    animation: slide-m-r;
    animation-duration: 2s;
}

.fade-in {
    animation: fade-in;
    animation-duration: 1s;
}

.fade-out {
    animation: fade-out;
    animation-duration: 1s;
}