body {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

main {
    margin: 0 135px 120px 135px;
}

img {
    object-fit: cover;
}

.hr-style {
    color: #F2F2F2;
    width: 100%;
    height: 2px;
    background-color: #F2F2F2;
    margin: 30px 0 30px 0
}

/*nav*/
nav {
    height: 102px;
    position: relative;
}

.nav-icon {
    width: 70px;
    height: 43.71px;
    top: 29.14px;
    left: 135px;
    margin: 0px;
    position: absolute;
}

.nav-a {
    display: block;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2.4px;
    font-family: 'Roboto';
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}

.nav-link-ul {
    display: flex;
    height: 20px;
    flex-direction: row;
    gap: 60px;
    position: absolute;
    top: 39.83px;
    left: 535px;
}

.nav-link-li {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    list-style-type: none;
}

.nav-cur-page {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/**/

/*footer*/
footer {
    height: 417px;
    background-color: #2C2C2C;
    border-top: 1px solid transparent;
}

footer hr {
    color: #FFFFFF;
    opacity: 20%;
}

.footer-rights-div {
    margin-top: 24px;
    margin-left: 591px;
}

.footer-rights-div small {
    color: #FFFFFF;
    opacity: 20%;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0;
    font-family: 'Open Sans';

}

.footer-content {
    flex-direction: row;
    margin-top: 58px;
    margin-left: 116px;
    height: 289px;
}

.footer-icon {
    height: 94px;
    width: 145px;
}

.footer-div-inf {
    margin-left: 99px;
}

.footer-div-contacts {
    margin-left: 157px;
}

.footer-div-contacts ul li {
    margin-bottom: 32px;
}

.footer-div-social {
    margin-left: 99px;
}

.footer-div-social ul {
    gap: 40px;
    list-style-type: none;
}

.footer-li {
    list-style-type: none;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.27px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    height: 24px;

}

.footer-li li {
    margin-bottom: 16px;
}

.footer-h5 {
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.footer-li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.27px;
    display: block;
    height: 24px;
}

.footer-li-img {
    height: 16px;
    width: 16px;
    object-fit: contain;
    margin-right: 14px;
}

/**/
.headerr {
    display: block;
    font-weight: 300;
    font-family: 'Roboto';
    line-height: 64px;
    font-size: 64px;
    letter-spacing: 0;
    color: #BDBDBD;
    margin: 0;
    padding: 0;
}

.header-b {
    color: #333333;
    display: block;
    font-weight: 700;
    height: 64px;
    font-family: 'Roboto';
    line-height: 64px;
    font-size: 64px;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.butn {
    width: 222px;
    height: 71px;
    display: flex;
    border: none;
    align-items: center;
    padding: 0;
}

.butn-text {
    font-family: "Gothic A1";
    font-weight: 400;
    line-height: 12px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: #FFFFFF;
    display: block;
}

.btn-arrow {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.car-num {
    font-weight: 400px;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 24px;
    color: #BDBDBD;
}

.car_control-div {
    gap: 29px;
    margin-top: 71px;
}

.counter-div {
    width: 141.9px;
    height: 52px;
    gap: 30px;
}

.counter-div img {
    width: 30px;
    height: 30px;
}

.car-button-div {
    height: 53px;
    gap: 23px;
}

.car-button-div hr {
    color: #F2F2F2;
    width: 271px;
    height: 2px;
    background-color: #F2F2F2;
}

.car-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #FFFFFF;
    border-color: #F2F2F2;
    border-radius: 1px;
    border-style: solid;
}



/*aboutProjects.html*/
.aboutProjects-wrap {
    display: grid;
    gap: 30px;
    grid-template-columns: 419px 721px;
    grid-template-rows: 158px 435px 438px 435px;
    margin-top: 63px;
}


@media (max-width: 600px) {
    body {
        width: auto;
        margin: 0;
        padding: 0;

    }

    main {
        margin: 0 5vw;
    }

    img {
        object-fit: cover;
    }

    .headerr,
    .header-b {
        font-size: 7vh;
        line-height: 8vh;
    }

    nav {
        height: 20vh;
        position: static;
        display: flex;
        flex-direction: column;

    }

    .nav-icon {
        width: auto;
        height: 80%;
        width: 20%;
        margin: 0;
        position: static;
    }

    .nav-icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /*не переписані*/
    .nav-a {
        display: block;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2.4px;
        font-family: 'Roboto';
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
    }

    .nav-link-ul {
        display: none;
        height: 20px;
        flex-direction: column;
        gap: 60px;
        position: absolute;
        top: 39.83px;
        left: 535px;
    }

    .nav-link-li {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        list-style-type: none;
    }

    .nav-cur-page {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    /**/
    /*footer*/
    footer {
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: #2C2C2C;
        border-top: 1px solid transparent;
        align-items: center;

    }

    footer hr {
        color: #FFFFFF;
        opacity: 20%;
    }

    .footer-rights-div {
        margin-top: 0px;
        margin-left: 0px;
        align-items: center;
        justify-content: center;
    }

    .footer-rights-div small {
        color: #FFFFFF;
        opacity: 20%;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0;
        font-family: 'Open Sans';

    }

    .footer-content {
        flex-direction: column;
        gap: 5vh;
        margin-top: 0px;
        margin-left: 0px;
        height: auto;
    }

    .footer-icon {
        margin-top: 5vh;
        height: 16vh;
        width: 20vw;

    }

    .footer-icon img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .footer-div-inf {
        margin-left: 0;
        height: auto;
    }

    .footer-div-contacts {
        margin-left: 0;
        height: auto;
    }

    .footer-div-contacts ul li {
        margin-bottom: 0;
    }

    .footer-div-social {
        margin-left: 0;
        height: auto;
    }

    .footer-div-social ul {
        gap: 40px;
        list-style-type: none;
    }

    .footer-li {
        list-style-type: none;
        font-weight: 500;
        line-height: 24px;
        font-size: 14px;
        letter-spacing: 0.27px;
        color: #FFFFFF;
        display: block;
        text-decoration: none;
        height: auto;

    }

    .footer-li li {
        margin-bottom: 16px;
    }

    .footer-h5 {
        font-weight: 700;
        line-height: 20px;
        font-size: 16px;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-bottom: 25px;
    }

    .footer-li a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 500;
        line-height: 24px;
        font-size: 14px;
        letter-spacing: 0.27px;
        display: block;
        height: 24px;
    }

    .footer-li-img {
        height: 16px;
        width: 16px;
        object-fit: contain;
        margin-right: 14px;
    }

    .car_control-div {
        display: flex;
        align-items: center;
        gap: 10vw;
        margin-top: 0;
        padding: 3vh;
    }

    .car-button-div {
        height: auto;
        gap: 5vw;
    }

    .car-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7vh;
        height: 7vh;
        background-color: #FFFFFF;
        border-color: #F2F2F2;
        border-radius: 1vh;
        border-style: solid;
    }

    .car-btn img {
        width: 5vh;
        height: 3vh;
    }


}